<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
    <script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js'></script>
    <script type="text/javascript" src='/public/js/templates.js'></script>
    <script type="text/javascript" src='/public/js/boom.js'></script>    
</head>
<body>    
    <a class="new-thing" href="#">More things</a> 
    {{{body}}}
</body>
</html>