<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/public/css/style.css" rel="stylesheet" />
    
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js" data-main="/public/js/app.js"></script>
</head>
<body>    
    <a class="new-thing" href="#">More things</a> 
    {{{body}}}
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>